@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --color-primary: #4502C7;
}

* {
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    margin: 0;
    background-color: #F8F8F8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    width: 1184px;
    margin: 0 auto;
}

@media(max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

@media(max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

@media(max-width: 767.98px) {
    .container {
        width: 540px;
    }
}

@media(max-width: 575.98px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}

/* End Container */

/* Top Header */

.top-header {
    background-color: var(--color-primary);
    padding: 10px 0;
}

.top-header .inner-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.top-header .inner-item {
    color: #FFFBEB;
    font-weight: 400;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.top-header .inner-item i {
    font-size: 20px;
}

@media (max-width: 767.98px) {
    .top-header {
        display: none;
    }
}

/* End Top Header */

/* Header */

.header {
    background-color: #FFFFFF;
    padding: 12px 0;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo img {
    height: 50px;
    width: auto;
}

.header .inner-menu > ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.header .inner-menu > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #25282B;
    text-transform: capitalize;
}

.header .inner-menu > ul > li > a.active,
.header .inner-menu > ul > li:hover > a,
.header .inner-menu > ul > li:hover > i{
    color: var(--color-primary);
}

.header .inner-menu>ul>li {
    position: relative;
}


.header .inner-cart a {
    display: inline-flex;
    align-items: center;
}

.header .inner-cart img {
    height: 26px;
    width: auto;
}

.header .inner-cart span {
    background-color: #FF3904;
    border-radius: 3px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: #FFFFFF;
    display: inline-block;
    padding: 1px 5px;
    margin-left: 4px;
    position: relative;
}

.header .inner-cart span::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 3.7px solid #FF3904;
    position: absolute;
    left: -3.6px;
    top: 5.5px;
}

.header .inner-menu > ul > li i {
    margin-left: 4px;
}

.header .inner-menu > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding: 8px 0;
    width: 280px;
    z-index: 999;
    display: none;
}

.header .inner-menu > ul > li > ul a {
    display: block;
    padding: 8px 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
}

.header .inner-menu > ul > li > ul a:hover {
    background-color: var(--color-primary);
    color: #FFFFFF;
}

.header .inner-menu>ul>li:hover>ul {
    display: block;
}

.header .inner-menu-mobile{
    display: none;
}

@media (max-width: 1199.98px){
    .header .inner-menu > ul{
        gap: 24px;
    }
}

@media (max-width: 991.98px){
    .header .inner-menu{
        display: none;
    }
    .header .inner-menu-mobile{
        display: block;
        background-color: #FFFFFF;
        border: 0;
        color: #25282B;
        padding: 0;
        font-size: 22px;
        cursor: pointer;
    }
}

@media(max-width: 575.98px) {
    .header{
        padding: 15px 0;
    }

    .header .inner-logo img{
        height: 40px;
    }
}
/* End Header */

/* Section-1 */
.section-1{
    background-image: url(../images/image\ 129.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 106px 0 108px 0;
}

.section-1 .inner-wrap{
    width: 768px;
    margin: 0 auto;
}

.section-1 .inner-title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 1.8px;
    color: var(--color-primary);
}

.section-1 .inner-desc{
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #25282B;
}

.section-1 .inner-form{
    background-color: #00000066;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}
.section-1 .inner-form .inner-address{
    width: 100%;
}

.section-1 .inner-form .inner-user, .section-1 .inner-form .inner-calendar{
    width: 37.5%;
}
.section-1 .inner-form .inner-button{
    flex: 1;
    border-radius: 10px;
    background-color: var(--color-primary);
    border: 0;
    color: #FFFFFF;
    box-shadow: 0px 3.3px 3.3px 0px #00000040;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}

.section-1 .inner-form .inner-button i{
    font-size: 20px;
}

.section-1 .inner-form .inner-button:hover{
    background-color: #2a0771;
}

.section-1 .inner-form .inner-input-group{
    background-color: #FFFFFF;
    padding: 18px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.section-1 .inner-form .inner-input-group .inner-icon{
    height: 20px;
    width: auto;
    margin-right: 13px;
    color: var(--color-primary);
}

.section-1 .inner-form .inner-input-group .inner-input{
    border: 0;
    flex: 1;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 0.6px;
}

.section-1 .inner-form .inner-input-group .inner-input::placeholder{
    color: #A6A6A6;
}

.section-1 .inner-form .inner-input-group .inner-down{
    font-size: 10px;
    color: var(--color-primary);
}

@media (max-width: 991.98px){
    .section-1 .inner-wrap {
        width: 100%;
    }
    .section-1 .inner-title{
        font-size: 33px;
    }

    .section-1 .inner-desc{
        font-size: 14px;
    }
    .section-1 .inner-form{
        padding: 15px;
        gap: 12px;
    }
}

@media (max-width: 767.98px){
    .section-1 .inner-title{
        font-size: 27px;
    }

    .section-1 .inner-form .inner-user, .section-1 .inner-form .inner-calendar{
        width: 100%;
    }

    .section-1 .inner-form .inner-button{
        height: 58px;
    }
}
/* End Section-1 */

/* Section-2 */

.section-2{
    padding: 60px 0;
}

.section-2 .inner-wrap{
    background-color: var(--color-primary);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    padding: 32px 27px 32px 23px;
    display: flex;
    gap: 32px;
}
.section-2 .inner-info{
    width: calc(25% - 32px);
    text-align: center;
}

.section-2 .inner-info .inner-title-main{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 10px;
}

.section-2 .inner-info .inner-desc{
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.section-2 .inner-info .inner-clock-title{
    font-weight: 700;
    font-size: 21px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.section-2 .inner-info .inner-clock-number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-bottom: 47px;
}

.section-2 .inner-info .inner-clock-number span{
    width: 57px;
    height: 57px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 121%;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}
.section-2 .inner-info .inner-discount-tiltle{
    font-weight: 700;
    font-size: 16px;
    line-height: 121%;
    color: #FFFFFF;
}

.section-2 .inner-info .inner-discount-price{
    font-weight: 700;
    font-size: 40px;
    line-height: 126%;
    color: #FFD63A;
}

.section-2 .inner-info .inner-discount-price .inner-unit{
    text-decoration: underline;
}

.section-2 .inner-list{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/* End Section-2 */

/* Product Item */

.product-item{
    background-color: #FFFFFF;
    box-shadow: 0px 2.38px 2.38px 0px #00000040;
    border-radius: 10px;
    overflow: hidden;
}

.product-item .inner-image{
    aspect-ratio: 271/237;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: -14px;
}

.product-item .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-item .inner-discount{
    display: inline-flex;
    background-color: #DA0808;
    border-radius: 0 32px 32px 0;
    align-items: center;
    padding: 3px 5px;
    gap: 6px;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #F9F9FA;
    text-transform: uppercase;
}

.product-item .inner-discount i{
    color: #FFCB06;
    font-size: 11px;
}

.product-item .inner-content{
    padding: 16px;
}

.product-item .inner-content .inner-title{
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    height: 35px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item .inner-content .inner-title a{
    color: #25282B;
}

.product-item .inner-content .inner-title a:hover{
    color: var(--color-primary);
}

.product-item .inner-content .inner-prices{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 11.5px;
    align-items: center;
    margin-bottom: 6px;
}

.product-item .inner-content .inner-old{
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #52575C;
    text-decoration: line-through;
}

.product-item .inner-content .inner-new{
    font-weight: 700;
    font-size: 15px;
    line-height: 125%;
    color: #DA0808;
}

.product-item .inner-content .inner-prices .inner-unit{
    text-decoration: underline;
}

.product-item .inner-content .inner-desc{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-item .inner-content .inner-desc-item{
    font-weight: 400;
    font-size: 11px;
    line-height: 125%;
    color: #8C8C8C;
}

.product-item .inner-content .inner-desc-item b{
    font-weight: 700;
}

.product-item .inner-content .inner-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item .inner-content .inner-rating{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.product-item .inner-content .inner-rating .inner-stars{
    font-size: 14px;
    color: #FFD600;
}

.product-item .inner-content .inner-rating .inner-number{
    font-weight: 400;
    font-size: 11px;
    line-height: 125%;
    color: #8C8C8C;
}

.product-item .inner-content .inner-stock{
    display: inline-flex;
    gap: 6px;
    align-items: center;
}
.product-item .inner-content .inner-stock .inner-label{
    font-weight: 700;
    font-size: 10px;
    line-height: 125%;
    color: #25282B;
}

.product-item .inner-content .inner-stock .inner-number{
    background-color: #DA0808;
    border-radius: 6px;
    width: 33px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: #FFFFFF;
}
/* End Product Item */